.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
}
.center-logo {
    max-width: 450px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.top-bar .btn-group {
    gap: 0 !important;
    display: flex !important;
}
.top-bar .btn-group button:not(:last-child) {
    margin-right: 12px !important;
}
.top-bar .btn-group button {
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}