<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile - inventorize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" href="nav-sidebar.css" th:href="@{/css/nav-sidebar.css}">
    <link rel="stylesheet" type="text/css" href="home-common.css" th:href="@{/css/home-common.css}">
    <link rel="stylesheet" type="text/css" href="form.css" th:href="@{/css/form.css}">
</head>
<body class="homepage-body">
<div class="top-bar">
    <h1 class="logo">
        <a th:href="@{/home}" class="logo-link">
            <img src="invetorize logo\only-logo.png" alt="Inventorize Logo" class="logo-icon" th:src="@{/images/only-logo.png}">
            <span class="logo-text">inventorize</span>
        </a>
    </h1>
    <div class="btn-group">
        <a th:href="@{/logout}" class="button">Logout</a>
    </div>
</div>
<div class="main-layout">
    <aside class="sidebar">
        <div class="sidebar-top">
            <div class="sidebar-user-info">
                <div class="sidebar-user-name" th:text="${user.firstName + ' ' + user.lastName}">John Doe</div>
                <div class="sidebar-user-role" th:text="${user.role.displayName}">Admin</div>
            </div>
            <div class="sidebar-section top-section">
                <a class="sidebar-btn rounded-btn home-btn" href="/home">Home</a>
            </div>
            <div class="sidebar-divider"></div>
            <div class="sidebar-section middle-section">
                <div class="sidebar-section-label">Business</div>
                <a class="sidebar-btn rounded-btn" th:href="@{'/businesses/' + ${business.id} + '/products'}">Products</a>
                <a class="sidebar-btn rounded-btn" th:href="@{'/businesses/' + ${business.id} + '/employees'}" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">Employees</a>
            </div>
            <div class="sidebar-divider"></div>
            <div class="sidebar-section middle-section">
                <div class="sidebar-section-label">Profile settings</div>
                <a class="sidebar-btn rounded-btn" th:href="@{'/users/' + ${user.id} + '/profile'}">Edit Profile</a>
            </div>
        </div>
        <div class="sidebar-bottom">
            <div class="sidebar-divider"></div>
            <div class="sidebar-section bottom-section" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="sidebar-section-label">Admin</div>
                <a class="sidebar-btn rounded-btn" href="/businesses">Businesses</a>
                <a class="sidebar-btn rounded-btn" href="/users">Users</a>
            </div>
        </div>
    </aside>
    <main class="content-area">
        <div class="content-display">
            <form class="form-card" th:method="POST" th:action="@{'/users/' + ${user.id} + '/profile'}" th:object="${editRequest}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="_method" value="PUT">
                <h2>Edit Profile</h2>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input th:field="*{firstName}" type="text" id="firstName" required placeholder="Enter first name">
                    <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid First Name</p>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input th:field="*{lastName}" type="text" id="lastName" required placeholder="Enter last name">
                    <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</p>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input th:field="*{email}" type="email" id="email" required placeholder="Enter email">
                    <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email</p>
                    <p class="alert-warning" th:if="${emailError}" th:text="${emailError}">Error message</p>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input th:field="*{phoneNumber}" type="tel" id="phoneNumber" required placeholder="Enter phone number">
                    <p class="alert-warning" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Invalid Phone Number</p>
                </div>

                <button type="submit" class="submit-btn button">Save</button>
            </form>
        </div>
    </main>
</div>
<footer class="copyright">
    <p>© 2025 inventorize. All rights reserved.</p>
</footer>
</body>
</html>
