<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inventorize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="top-bar">
    <h1 class="logo">
        <a href="/" class="logo-link">
            <img src="/images/only-logo.png" alt="Inventorize Logo" class="logo-icon">
            <span class="logo-text">inventorize</span>
        </a>
    </h1>
    <div class="btn-group">
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">Register</button>
    </div>
</div>
<div class="logo-container">
    <img src="/images/index-page-logo.png" alt="Inventorize Logo" class="center-logo">
</div>
<footer class="copyright">
    <p>© 2025 inventorize. All rights reserved.</p>
</footer>
</body>
</html>

